* {
    margin: 0;
    padding: 0;
}


/* default CSS for mobile  */

.header {
    width: 100%;
}

.header-logo {
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding: 5px 0;
}


.header-parts {
    /* background: rgb(247, 247, 247); */
    width: 100%;
    height: 20vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(0, 0, 0);
   box-shadow: 0px 1px 2px 2.1px rgb(230, 230, 230);
}

.search {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center; 
    border: 1px solid rgb(179, 177, 177);
    border-radius: 10rem;
}

#search {
    width: 90%;
    height: 10vw;
    border: none;
    outline: none;
    font-size: 5vw;
    margin-left: 4vw;
}

.search i {
   color: black;
    width: 8%;
    height: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 13px;
    font-size: 4vw;
}

.user {
    width: 9%;
    /* border: 2px solid rgb(0, 0, 0); */
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user img {
    width: 100%;
    object-fit: cover;
}

.header-logo img {
    width: 80%;
}

.menu i {
    color: rgb(0, 0, 0);
    font-size: 5vw;
}

.side-menu {
    height: 100vh;
    width: 80%;
    background: rgb(255 255 255);
    position: fixed;
    right: 0;
    margin-top: 8%;
    transform: translateX(0);
    transition: transform .5s ease-in-out;
    border-left: 1px solid #bebdbd;
}

.close {
    transform: translateX(100%);
}

.side-menu ul li {
    border-bottom: 1px solid rgb(216, 215, 215);
    list-style: none;
    padding: 20px 30px;
    font-size: 5vw;
}

.overlay {
    position: fixed;
    right: 80%;
    width: 20%;
    height: 100vh;
    margin-top: 6%;
}




/* @media (min-width: 769px) {
    .header-logo img {
        width: 70%;
    }

} */